%% IMPORTANT LIMITATION:  PoolName should be uniqe amongst all clusters.
%%
%% RiakPoolConfig  :: [RiakPoolOptions].
%% RiakPoolOptions :: {clusters, [ClusterOptions]} |
%%                    {default_cluster, ClusterName :: atom()}.
%%
%% ClusterOptions  :: {ClusterName :: atom(), [KeepAliveOption], [PoolOptions]}.
%% KeepAliveOption :: {ping_request_timeout, non_neg_integer()} |
%%                    {rec_timer, [ReconnectTimerOption]}.
%% ReconnectTimerOption :: {value,  non_neg_integer()} |
%%                         {factor, non_neg_integer()} |
%%                         {incr,   non_neg_integer()} |
%%                         {max_value, non_neg_integer()}.
%%
%% PoolOptions :: {PoolName :: atom(), [SizeOption], [ConnectionOption]}.
%% SizeOption  :: {max_overflow, non_neg_integer()} |
%%                {size,         non_neg_integer()}.
%% ConnectionOption :: {host, Address} | {port, non_neg_integer()}.
%% Address :: string() | atom() | inet:ip_address()

[
 {main_application,
  [
   {riak_cluster, main_cluster}
  ]},

 {statistic_applications,
  [
   {riak_cluster, statistic_cluster}
  ]},

 {riak_pool,
  [
   %% This param make a hint to pool  what cluster should be used when
   %% application:get_env(riak_cluster) return undefined
   {default_cluster, main_cluster},

   {clusters,
    [
     %% {ClusterName, KeepAliveOptions, PoolsList}
     {main_cluster,
      [
       %% keep alive options
       {ping_request_timeout, 1500},
       {rec_timer, [
                    {value,  200},
                    {factor, 2},
                    {incr,   0},
                    {max_value, 15000}
                   ]}
      ],
      [
       {riak_pool_main_riak1,
        [{size, 10}, {max_overflow, 10}],
        [
         {host, "10.10.18.94"},
         {port, 8087}
        ]},
       {riak_pool_main_riak2,
        [{size, 10}, {max_overflow, 10}],
        [
         {host, "10.10.18.98"},
         {port, 8087}
        ]},
       {riak_pool_main_riak3,
        [{size, 10}, {max_overflow, 10}],
        [
         {host, "10.10.18.100"},
         {port, 8087}
        ]}
      ]},

     {statistic_cluster,
      [],
      [
       {riak_pool_stat_riak1,
        [{size, 10}, {max_overflow, 10}],
        [
         {host, "10.10.18.62"},
         {port, 8087}
        ]}
      ]}

    ]}
  ]}
].
