[
%% sample pool config
%% for entire apps you should define something like this inside of your app.config:
%% {riak_cluster, another_super_cluster}
%% WARNING: all nodes in all clusters should have unique names (e.g. node1, node2, node3, etc...).

{riak_pool, [
    %% This param make a hint to pool balancer what app name should it choose
    %% when app name is not provided explicitly nor via application:get_name/0.
    {default_cluster, unison_web},
    {clusters, [
                {unison_web,
                 [
                  {ping_request_timeout, 1500},
                  {rec_timer, [
                               {value,  200},
                               {factor, 2},
                               {incr,   0},
                               {max_value, 15000}
                              ]}
                 ],      
                 [
                  {riak_pool_riak1,
                   [{size,10}, {max_overflow,10}],
                   [
                    {host,"10.10.18.94"},
                    {port,8087}
                   ]},
                  {riak_pool_riak2,
                   [{size,10},{max_overflow,10}],
                   [
                    {host,"10.10.18.98"},
                    {port,8087}
                   ]},
                  {riak_pool_riak3,
                   [{size,10},{max_overflow,10}],
                   [
                    {host,"10.10.18.100"},
                    {port,8087}
                   ]}
                 ]},
                {mustat_cluster,
                 [],
                 [
                  {cnode7_riak_pool,
                   [{size,10}, {max_overflow,10}],
                   [
                    {host,"10.10.18.62"},
                    {port,8087}
                   ]}
                 ]}
               ]}
            ]}
].
