[
%% sample pool config
%% for entire apps you should define something like this inside of your app.config:
%% {riak_cluster, another_super_cluster}
%% WARNING: all nodes in all clusters should have unique names (e.g. node1, node2, node3, etc...).

{riak_pool, [
    %% This param make a hint to pool balancer what app name should it choose
    %% when app name is not provided explicitly nor via application:get_name/0.
    {default_cluster, my_super_cluster},
    {clusters, [
        {my_super_cluster, [
            {node1, [
                {pool_size, 10},
                {max_overflow, 10},
                {host, "127.0.0.1"},
                {port, 8087},
                {queue_if_disconnected, false},
                {auto_reconnect, true}
            ]},
            {node2, [
                {pool_size, 10},
                {max_overflow, 10},
                {host, "127.0.0.2"},
                {port, 8087},
                {queue_if_disconnected, false},
                {auto_reconnect, true}
            ]}
        ]},
        {another_super_cluster, [
            {node3, [
                {pool_size, 10},
                {max_overflow, 10},
                {host, "127.0.0.3"},
                {port, 8087},
                {queue_if_disconnected, false},
                {auto_reconnect, true}
            ]}
        ]}
    ]}
]}

].
